
body {margin: 0;padding: 0; font-family: "Roboto", sans-serif;}
#wrapper {
	padding: 10px;
}
footer {
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #232f3d;
	text-align:center;
	font-size: 16px;
	
}
footer a {
	color: #4791d2;
	font-weight: bold;
	text-decoration: none;
}

.lbltitle {
	padding: 10px 0px;

}

.lblinput select {
	padding: 8px 10px;
}


input[type="text"],
input[type="number"],
input[type="submit"] {
	padding: 8px 10px;
}

.btn {border: none;
	background: #4791d2;
	color: #fff;
	cursor: pointer;
}
.btn:hover {
	background: #004d91;
}
.btn:focus {
	border-color: #004d91;
}

.box-product {
	width: 250px;
	height: 350px;
	display: inline-block;
	text-align: center;
	padding: 10px;
	box-shadow: 0 0 1px rgb(213, 213, 213);
}

.box-product:hover {
	box-shadow: 0 0 10px rgb(213, 213, 213);
}

.box-product img {
	width: 250px;
}
h3.notfound {
	text-align: center;
}